.dataPanel-item {
  &::after {
    content: " ";
    height: 34px;
    width: 1px;
    position: absolute;
    background-color: #d9d9d9;
    right: -1px;
    top: 0;
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}
