@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./styles/variable.scss";

page {
  height: 100%;
  @apply bg-under;
}

.safe-area-view {
  height: calc(100vh - 100px - env(safe-area-inset-bottom));
}

.vant-form-formItem {
  padding: 12px 0 !important;
  margin: 0 !important;
}
